<div class="w-full flex flex-col items-center justify-center ">
<div class="register p-4 w-1/2 flex flex-col items-center justify-center border border-red-500 rounded-lg bg-gray-300">
    <div>
        <h1>
            Registration Form
        </h1>
    </div>
    <div class="flex flex-col gap-3 justify-center" [formGroup]="registerForm">
       
    <div class="name flex justify-around gap-3 p-2" >
        <label class="p-2">Name</label>
        <input  type="text" formControlName = "name" placeholder="Name" class="p-2 rounded-lg"  >
    </div>
    <div class="email flex justify-around gap-3 p-2" >
        <label class="p-2">Email</label>
        <input type="email" placeholder="Email" formControlName = "email" class="p-2 rounded-lg"  >
    </div>
    <div class="phone flex justify-around gap-3 p-2">
        <label class="p-2">Contact</label>
        <input type="text" placeholder="Contact" formControlName = "phone" class="p-2 rounded-lg" >
    </div>

    </div>
    <div class="p-2"  [formGroup]="registerForm">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded disabled:bg-gray-400 disabled:cursor-not-allowed"  [disabled]="!registerForm.valid" (click)="addUser()" >
            submit
        </button>
    </div>
</div>
<div class="table p-4">
    <div class="user-Details ">
        <h1 class="text-lg text-center">User Details</h1>
    </div>
    <div class="scroll-container">
        
        <div
        
          class="table-container"
        >
          <p-table
            [value]="detailsOfUsers"
            [tableStyle]="{ 'min-width': '60rem' }"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
            <ng-template pTemplate="header">
              <tr class="w-full">
                <th
                  pSortableColumn="name"
                  class="text-black font-bold text-center"
                >
                &nbsp;Name&nbsp;<p-sortIcon field="name" />
                </th>
                <th
                  pSortableColumn="email"
                  class="text-black font-bold text-center"
                >
                &nbsp;Email&nbsp;<p-sortIcon
                    field="email"
                  />
                </th>
                <th
                  pSortableColumn="phone"
                  class="text-black font-bold text-center"
                >
                &nbsp;Phone&nbsp;<p-sortIcon
                    field="phone"
                  />
                </th>
                <th
                  pSortableColumn="address"
                  class="text-black font-bold text-center"
                >
                &nbsp;Address&nbsp;&nbsp;<p-sortIcon field="address" />
                </th>
               
                <th
                  pSortableColumn="description"
                  class="text-black font-bold text-center"
                >
                &nbsp;Description&nbsp;<p-sortIcon field="description" />
                </th>
                <th
                  pSortableColumn="gender"
                  class="text-black font-bold text-center"
                >
                &nbsp;Gender&nbsp;<p-sortIcon
                    field="clinicAdminEmail"
                  />
                </th>
               
            
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-details
              let-rowIndex="rowIndex"
            >
              <tr>
                <td style="text-align: center">
                  {{ details.name}}
                </td>
                <td style="text-align: center">
                  {{ details.email }}
                </td>
                <td style="text-align: center">
                  {{ details.phone }}
                </td>
                <td style="text-align: center">
                  {{ details.address }}
                </td>
                <td style="text-align: center">
                  {{ details.description }}
                </td>
                <td style="text-align: center; font-weight: bold">
                  {{details.gender}}
                 
                </td>
               
  
                
              </tr>
            </ng-template>
          </p-table>
        </div>
        
      </div>
</div>
</div>
<p-toast></p-toast>












